**
!global.json
!server
!server/**
!unity
!unity/Assets
!unity/Assets/Forest
!unity/Assets/Forest/Simulation
!unity/Assets/Forest/Simulation/**
!unity/Assets/Forest/Authority
!unity/Assets/Forest/Authority/**
!Dockerfile
**/bin
**/obj
**/*.identity
**/*.key
**/*.log
